body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    /* background-image: url(img/Boolzapp_Background.png); */
    background-color: rgb(141, 253, 216);
    font-family: 'Kalnia', serif;
}

/* Macrosezioni  */

#app {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    
}
.boolzapp {
    width: 80%;
    height: 90vh;
    margin: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
    display: flex;
    
}

body, #app, .boolzapp {
    box-sizing: border-box;
}

/* Parte sinistra/destra dell'app  */

/* Parte sinistra (e suoi componenti interni ) */

.message-list {
    width: 40%;
}

.top-bar-left, .top-bar-right {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: aquamarine;
}

/* Spaziatura con padding laterali in comuni per tutti gli elementi interni  */

.top-bar-left, .top-bar-right, .alert, #search, .chat-list, .new-message {
    padding-left: 10px;
    padding-right: 10px;
}
.avatar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.img-avatar {
    width: 50px;
    border-radius: 50%;
    padding-right: 15px;
}


.alert {
    background-color: lightblue;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.bell {
    background-color: white;
    border-radius: 50%;
}
.bell i {
    font-size: 22px;
    padding: 14px;
    color: lightblue;
}
.notifiche {
    padding-left: 12px;
}

.attiva-notifiche {
    font-size: 14px;
    color: rgb(59, 59, 59);
    text-decoration: underline;
}

#search {
    min-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#search-msg {
    flex-basis: 60%;
    height: 30px;
    border-radius: 5px;
}

/* Sfondo bianco  */
#search, .chat-list {
    background-color: white;
}

.chat-list {
    height: calc(100% - 180px);
    box-sizing: border-box;
    overflow-y: auto;
    margin: 0 auto;
}

.personal-chat {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content-msg {
    flex-basis: 70%;
}
.msg-subtitle, .hour {
    font-size: 12px;
    color: gray;
}
.hour {
    height: 100%;
}

/* Parte Destra e suoi componenti interni  */

.message-active {
    width: 60%;
}

.new-chat {
    height: calc(100% - 80px);
    display: flex;
    justify-content: space-between;
    overflow-y: auto;
}
.chat-others, .my-chat {
    flex-basis: 45%;
}

/* Classe che andrà assegnata al "contenitore dei messaggi che verranno generati" */

.panel {
    width: 80%;
    margin: 0 auto;
    margin-top: 15px;
    border: 1px solid black;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: white;
    padding: 10px;
}
.personal-msg {
    background-color: lightgreen;
}

.new-message {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: aquamarine;
}
.new-message i, .icons i {
    font-size: 22px;
    color: gray;
    padding: 10px;
}
textarea {
    height: 50px;
}

#type-new-message {
    height: 40px;
    flex-basis: 80%;
    border-radius: 5px;
}

